<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="oneshift" verbose="1" parallel="tests">
      
      <test name="oneshift">      
   
	  
	      <classes>
		        <!-- <class name="poc.BaseClassTestNG"/> -->
		        <class name="poc.JiraLogin"/>
		  </classes>		  
      </test>
</suite>